// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details {
    margin-top: 2em !important;
}

.tasklist{
    padding-top: 2em !important;
}

.task.done {
    background: lightgrey !important;
    color: #939194 !important;
    text-decoration: line-through;
}

.task.done label {
    text-decoration: line-through;
    opacity: 0.2 !important;
}

.task.done .icon {
    color: blue !important;
    opacity: 0.2;
}

.task.todo {
    background: lightgoldenrodyellow !important;
    color: #627F39 !important;
}


.description {
    color: slategrey !important;
    font-style: italic;
}
.item-add {
    margin-top: 80px;
}
.tasklist {
    margin-top: 70px;
}

#editor .segment {
    background: lavender !important;
}